:root{
	--highlight-color: #66666640;
	--base-color: #E5D9B9;
	--lighter-color: #FBEFD5;
	--lightest-color: #FFF5B5;
}

html{
	font-family: Calibri,serif;
}

body{
	background-color: var(--base-color);
	margin: 0;
	font-family: Calibri;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

br{
	margin-bottom: 0.3em;
}

ol{
	padding-left: 2em; /* default is like 40 px which is kinda large */
}

ol li ol{
	list-style-type: lower-alpha;
}

li{
	margin-bottom:0.3em;
	margin-top:0.3em;
}

table{
	border-collapse:collapse;
}

tr{
	margin:0.5em;
	border-bottom: 1px solid grey;
}

td{
	padding:0.2em;
}

code{
	background-color: whitesmoke;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

#overview{
	font-size: large;
}

.overviewIcon{
	width: 1.2em;
	height: 1.2em;
	padding-right: 0.3em;
	vertical-align: middle;
}

#questsComp {
	text-decoration: underline darkgrey;
}

:target {
	border: .4em solid red;
}


.topbar{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	width: 100%;
	max-height: 1.8em; /* 2*padding + text height + a teeny bit of padding*/
	background-color: var(--base-color);
	padding: 0.3em 0;
	box-sizing: border-box;
}

.topbarSection{
	flex: 1 1 10%;
	text-align: center;
	background-color: var(--lighter-color);
	border-right: 1px solid black;
	text-decoration: none;
	color: black;
}
.topbarSection a{
	text-decoration: none;
	color: black;
}
.topbarSection.icon{
	flex: 1 1 0%;
}
.topbarSection.leftBorder{ /* The leftmost topbar choice doesn't have a black line so this adds it in. Having existing classes do this makes double thickness lines on other topbar options. */
	border-left: 1px solid black;
}
.topbarSection img{
	float: none;
}

.topbarSublist{
	background-color: var(--lighter-color);
	display: none;
}

.topbarSublist a{
	display:block;
	border: none;
}

.topbarSection:hover{
	background-color: var(--highlight-color);
}

.topbarSublist a:hover{
	background-color: var(--highlight-color);
}

.topbarSection a,
.topbarSection:hover .topbarSublist{
	display: block;
}

.flexTopBar {
	display: flex;
	flex-direction: column;
	margin: 0 0.5em;
	flex-basis: auto;
	z-index: 1;/*Lets topbar render ontop of iframe*/
	user-select: none;
}

.spectateBanner::before{
	content: "👁️ ";
	font-style: normal;
}
.spectateBanner{
	cursor: pointer;
	flex: 1;
	text-align: center;
	font-style: italic;
	background-color: lightgreen;
	border-style: outset;
	border-color: lightgreen;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.contentContainer{
	display: flex;
	min-width: 0;
	min-height: 0;
	overflow: hidden;
	flex: 1; /* contentContainer fills the remaining empty space below the flexTopBar */
}

.sidebarNirnroute{
	margin-left: 0.5em;
	user-select: none;
}

.sidebarContent{
	display: flex;
	flex-direction: column;
	height:100%;
	overflow: hidden; /* Sidebar links should not scroll with rest of page. */
}
#sidebarLinks{
	padding: 0.25em 0 0.25em 0.5em;
	background: var(--highlight-color);
	border-bottom: groove;
	border-top: groove;
	border-width: 2px;
	border-color: dimgray;
}
#sidebarLinks a{
	text-decoration: none;
	color: black;
}

.iframeContainer{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.iframe{
	background-color: var(--lighter-color);
	border: none;
	width: 100%;
	height: 100%;
}

.progress{
	font-size: min(3em,12vw); /* on mobile, 3em is obnoxious so we decrease it */
	font-weight: bold;
	font-family: serif;
}

.h2,.sectionTitle{
	font-family: serif;
	font-size: 2.2em;
	font-weight: bold;
	user-select: none;
	/*break-after:avoid;*/
}

.section{
	margin: 1em 0.5em;
	background-color: var(--lighter-color);
	column-width: 18em;
	column-rule: 1px black solid;
	padding: 0.5em;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.categoryTitle{
	font-family: serif;
	font-size: 1.5em;
	border-bottom: 2px solid gray;
	text-align: center;
	/*break-after:avoid;*/
}

.subcategoryTitle{
	font-style: italic;
	color: grey;
	padding-top: 0.2em;
	padding-left:1em;
	font-size:1.1em;
}

.itemContainer{
	break-inside: avoid;
}

.defaultCursor{
	cursor:default;
}

.item{
	padding:0.1em;
	margin:0.2em;
	break-inside: avoid;
	border-bottom: 1px grey solid;
}

.item:hover{
	background-color: var(--highlight-color);
}

.item.checked:hover{
	background-color: #80DD80;
}

.itemIcon{
	width: 1em;
	padding-right: 0.3em;
}

.itemHelp{
	font-size: small;
	text-decoration: none;
	vertical-align: super;
}

.checked{
	background-color: lightgreen;
}

.check{
	float: right;
}

input[type="number"]{
	width: 4em;
}

.detailColumn{
	float:right;
	color:grey;
	font-style:italic;
	margin-right:0.5em;
}

.location{
	text-decoration:underline;
}

.info::before{
	content: '🛈 ';
	font-style: normal;
	font-size: 1.2em;
}
.info{
	text-align: center;
	padding: 0.5em;
	padding-bottom: 0.7em;
	font-style: italic;
	margin: auto;
	width: fit-content;
	background-color: lightgoldenrodyellow;
	border-style: outset;
	border-color: lightgoldenrodyellow;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.warning::before{
	content: '⚠️ ';
	font-style: normal;
	font-size: 1.2em;
}
.warning{
	text-align: center;
	padding: 0.5em;
	padding-bottom: 0.7em;
	font-style: italic;
	margin: auto;
	width: fit-content;
	background-color: lightcoral;
	border-style: outset;
	border-color: lightcoral;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.sharingUI{
	font-size: 1.3em;
	margin-left: 7em;
}
#shareUrlCopy{
	font-size: 0.7em;
}

/*
the "padding" should really be margin.
but because the map wants to be larger than the screen,
we have to use weird shit like position fixed and padding
to make it do the thing of "fill your container exactly but no more"

because the html body will expand downwards as much as needed.
and we don't want the map to expand down past screen.

I feel like there should be a way to do this but I can't figure it out right now
*/
.mapContainer{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	box-sizing:border-box;/*we want the 1em of padding to be taken in to account in the 100% width/height*/
	touch-action: none;/*we want touch to scroll, not select or anything.*/
}

.mapButtonBar{
	padding-bottom: 0.5em;
	user-select: none;
}

.mapWrapper{
	background-color: var(--lighter-color);
	max-width:100%;
	overflow: hidden;
}

h1{
	margin: 0.5em;
	margin-left: 0;
}

/*mobile/thin window CSS*/
@media only screen and (orientation: portrait){
	.topbar{
		flex-wrap: wrap;
		max-height: 4em;
	}
	.topbarSection{
		flex:1 0 auto;
		width:25vw;
	}
	.topbarSection:hover .topbarSublist{
		display: none;/*no more crazy links for mobile*/
	}
}

/* Overall flexbox frame stuff */
.guideFrame{
	display: flex;
	min-width: 0;
	min-height: 0;
}
.resizer{
	background-color: black;
	cursor: ew-resize;
	height: 100%;
	padding: 2px;
	margin-left: 0.5em; /* To put space between scroll bar of main panel and this bar to avoid accidental scrolling. */
}
.mainPanel{
	margin: 0;
	margin-left: 0.5em; /* Main panel only has a margin on the left so that iframe scroll bars aren't displaced. */
	padding: 0.5em 0; /* Content padding so we don't get that background color clipping over the top/bottom of content */
	min-width: 10%;
	overflow-y: auto;
	overflow-x: hidden;
}
.sidePanel{
	flex: 1 1 0%;
	min-width: 10%;
	overflow: hidden; /* Don't want the sidebar banner to scroll with everything. */
}

/* Scroll bar stuff to make them less obnoxiously large */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}