:root{
	--highlight-color: #66666640;
	--base-color: #E5D9B9;
	--lighter-color: #FBEFD5;
	--lightest-color: #FFF5B5;
}

html{
	font-family: Calibri,serif;
}

body{
	background-color: var(--base-color);
	margin: 0;
	font-family: Calibri;
}

.fullscreenBody{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100vh;
}

br{
	margin-bottom: 0.3em;
}

ol{
	padding-left: 2em; /* default is like 40 px which is kinda large */
}

ol li ol{
	list-style-type: lower-alpha;
}

li{
	margin-bottom:0.3em;
	margin-top:0.3em;
}

table{
	border-collapse:collapse;
}

tr{
	margin:0.5em;
	border-bottom: 1px solid grey;
}

td{
	padding:0.2em;
}

code{
	background-color: whitesmoke;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

#overview{
	font-size: large;
}

.overviewIcon{
	width: 1.2em;
	height: 1.2em;
	padding-right: 0.3em;
	vertical-align: middle;
}

#questsComp {
	text-decoration: underline darkgrey;
}

:target {
	border: .4em solid red;
}

.topbar {
	position: sticky;
	top: 0;
	margin: 0 0.5em;
	z-index: 1;/*Lets topbar render ontop of iframe*/
}

.topbarNav{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	max-height: 1.8em; /* 2*padding + text height + a teeny bit of padding*/
	background-color: var(--base-color);
	padding: 0.3em 0;
	box-sizing: border-box;
}

.topbarSection{
	flex: 1 1 10%;
	text-align: center;
	background-color: var(--lighter-color);
	border-right: 1px solid black;
	text-decoration: none;
	color: black;
}
.topbarSection a{
	text-decoration: none;
	color: black;
}
.topbarSection.icon{
	flex: 1 1 0%;
}
.topbarSection.leftBorder{ /* The leftmost topbar choice doesn't have a black line so this adds it in. Having existing classes do this makes double thickness lines on other topbar options. */
	border-left: 1px solid black;
}
.topbarSection img{
	float: none;
}

.topbarSublist{
	background-color: var(--lighter-color);
	display: none;
}

.topbarSection:hover{
	background-color: var(--highlight-color);
}

.topbarSublist a:hover{
	background-color: var(--highlight-color);
}

.topbarSection a,
.topbarSection:hover .topbarSublist{
	display: block;
}

.spectateBanner::before{
	content: "👁️ ";
	font-style: normal;
}
.spectateBanner{
	cursor: pointer;
	text-align: center;
	font-style: italic;
	background-color: lightgreen;
	border-style: outset;
	border-color: lightgreen;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.contentContainer{
	/*inner stuff*/
	display: flex;
	margin: 0 0.5em;
}

.fullscreenBody .contentContainer{
	/* on contentContainers inside a fullscreenBody, scroll the contentContainer instead of the page.*/
	flex: 1;
	overflow: hidden;
}

.resizer{
	background-color: black;
	cursor: ew-resize;
	padding: 2px;/*actual content of resizer*/
	margin-left: 0.5em;
	/*on fullscreen pages, don't scroll with the rest of the content*/
	position:sticky;
	top:0
}

#mapColumn{
	position:sticky;
	top:0;
}

.mainPanel{
	min-width: 10%;
}

.sidePanel{
	flex: 1 1 0%;
	min-width: 10%;
	border: 1px solid black;
}

/*for panels (main or side) that we want to scroll, use this style for them*/
.scrollablePanel{
	overflow: auto;
}

.sidebarContent{
	display: flex;
	flex-direction: column;
	height:100%;
}

.screenHeight{
	position: sticky; /*within the .sidePanel, this is the "content" container that slides up and down to stay on the page.*/
	height: 100vh;
	top: 1.8em; /*start at very top of page (minus topbar)*/
	/*the following make the height 100vh minus overlap*/
	box-sizing:border-box;
	padding-bottom:2.3em;
}

.screenHeight2{
	top:3.6em;
	padding-bottom:4.1em;
}

#sidebarLinks{
	padding: 0.25em;
	background: var(--highlight-color);
	border-bottom: groove;
	border-top: groove;
	border-width: 2px;
	border-color: dimgray;
}

#sidebarLinks a{
	text-decoration: none;
	color: black;
}

.iframeContainer{
	width: 100%;
	height: 100%;
}

.iframe{
	background-color: var(--lighter-color);
	border: none;
	width: 100%;
	height: 100%;
}

.progress{
	font-size: min(3em,12vw); /* on mobile, 3em is obnoxious so we decrease it */
	font-weight: bold;
	font-family: serif;
}

.h2,.sectionTitle{
	font-family: serif;
	font-size: 2.2em;
	font-weight: bold;
	/*break-after:avoid;*/
}

.section{
	margin: 1em 0.5em;
	background-color: var(--lighter-color);
	column-width: 18em;
	column-rule: 1px black solid;
	padding: 0.5em;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.categoryTitle{
	font-family: serif;
	font-size: 1.5em;
	border-bottom: 2px solid gray;
	text-align: center;
	/*break-after:avoid;*/
}

.subcategoryTitle{
	font-style: italic;
	color: grey;
	padding-top: 0.2em;
	padding-left:1em;
	font-size:1.1em;
}

.itemContainer{
	break-inside: avoid;
}

.defaultCursor{
	cursor:default;
}

.item{
	padding:0.1em;
	margin:0.2em;
	break-inside: avoid;
	border-bottom: 1px grey solid;
}

.item:hover{
	background-color: var(--highlight-color);
}

.item.checked:hover{
	background-color: #80DD80;
}

.itemIcon{
	width: 1em;
	padding-right: 0.3em;
}

.itemHelp{
	font-size: small;
	text-decoration: none;
	vertical-align: super;
}

.checked{
	background-color: lightgreen;
}

.check{
	float: right;
}

input[type="number"]{
	width: 4em;
}

.detailColumn{
	float:right;
	color:grey;
	font-style:italic;
	margin-right:0.5em;
}

.location{
	text-decoration:underline;
}

.info::before{
	content: '🛈 ';
	font-style: normal;
	font-size: 1.2em;
}
.info{
	text-align: center;
	padding: 0.5em;
	padding-bottom: 0.7em;
	font-style: italic;
	margin: auto;
	width: fit-content;
	background-color: lightgoldenrodyellow;
	border-style: outset;
	border-color: lightgoldenrodyellow;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.warning::before{
	content: '⚠️ ';
	font-style: normal;
	font-size: 1.2em;
}
.warning{
	text-align: center;
	padding: 0.5em;
	padding-bottom: 0.7em;
	font-style: italic;
	margin: auto;
	width: fit-content;
	background-color: lightcoral;
	border-style: outset;
	border-color: lightcoral;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.sharingUI{
	font-size: 1.3em;
	margin-left: 7em;
}
#shareUrlCopy{
	font-size: 0.7em;
}

/*required outide of mapContainer for Reasons*/
.mapContainerOuter{
	position: relative;
	width: 100%;
	height: 100%;
}

.mapContainer{
	/*set height/width to parent element, but take up entire box.*/
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;/*we want the 1em of padding to be taken in to account in the 100% width/height*/
	/*inner display stuff*/
	display: flex;
	flex-direction: column;
	touch-action: none;/*we want touch to scroll, not select or anything.*/
}

.mapButtonBar{
	padding-bottom: 0.5em;
}

.mapWrapper{
	background-color: var(--lighter-color);
	max-width:100%;
	overflow: hidden;
}

h1{
	margin: 0.5em;
	margin-left: 0;
}

/*mobile/thin window CSS*/
@media only screen and (orientation: portrait) and (max-width: 800px){
	.topbarNav{
		flex-wrap: wrap;
		max-height: 4em;
	}
	.topbarSection{
		flex:1 0 auto;
		width:25vw;
	}
	.topbarSection:hover .topbarSublist{
		display: none;/*no more crazy links for mobile*/
	}
}

/* Scroll bar stuff to make them less obnoxiously large */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}