/*overrides for guide pages*/
img{
	float: right;
}

.section{
	background-color: #FBEFD5;
	column-width: auto;
	overflow: auto;
}

.sectionTitle{
	background-color: #FBEFD5;
	cursor:pointer;
	text-align: center;
	font-size: 1.5em;
	border-bottom: 2px solid gray;
	width:100%;
}

.sectionTitle:hover {
	background-color: #cccccc;
}

.sectionTitle:after {
	content: "➖"; /* Unicode character for "minus" sign (-) */
	font-size: 0.75em;
	color: white;
	float: right;
	margin-left: 5px;
}

/* Collapsible section content. Note: visible by default */
.collapsibleContent {
	display: inline;
	overflow: hidden;
}

.active:after {
	content: "➕"; /* Unicode character for "plus" sign (+) */
}

.category{
	margin-left: 2em;
	overflow: auto;
}

.categoryTitle{
	font-size: 1.2em;
	font-weight: bold;
}

.subtitle{
	font-weight: bold;
}

.item{
	margin: 0em;
	padding: 0em;
	font-weight: bold;
}

.check{
	float: none;
}

.replaceableError{
	color: red;
	text-decoration:underline;
}

/*on guide pages, we want links to be different colors so they stand out.*/
.questName a,
.bookName a,
.storeName a,
.nirnroot a,
.npc a{
	color: inherit;
}

.book{
	color: magenta;
}

.quest{
	color: darkred;
}

.spellname{
	font-weight: bold;
	color: orange;
}

.npc{
	font-weight: bold;
	color: darkgreen;
}

.nirnroot{
	font-weight: bold;
	color:seagreen;
}