/*overrides for guide pages*/
.section{
	margin: 1em;
	background-color: #FBEFD5;
	column-width: auto;
}

.sectionTitle{
	text-align: center;
	font-size: 1.5em;
	border-bottom: 2px solid gray;
}

.category{
	margin-left: 2em;
}

.categoryTitle{
	font-size:1.2em;
	font-weight: bold;
}

.subtitle{
	font-weight: bold;
}

.replaceableError{
	color: red;
	text-decoration:underline;
}

.questName a,
.bookName a,
.storeName a,
.npc a{
	color: blue;
}