body{
	background-color: #E5D9B9;
	
}

br{
	margin-bottom: 0.2em;
}

ol li ol{
	list-style-type: lower-alpha;
}

:target {
	border: .5em solid red;
}

.topbar{
	position: fixed;
	background-color: #E5D9B9;
	padding:0.5em;
}

.progress{
	font-size: 3em;
	font-weight: bold;
}

.h2{
	font-size: 2.2em;
	font-weight: bold;
}

.section{
	margin: 1em;
	background-color: #FBEFD5;
	column-width: 18em;
	padding: 0.5em;
}

.category{
	break-inside: avoid;
	break-after: always;
}

.categoryTitle{
	font-size: 1.5em;
	border-bottom: 2px solid gray;
}

.subcategoryTitle{
	font-style: italic;
	color: grey;
	padding-top: 0.2em;
}

.item{
	padding:0.1em;
	margin:0.2em;
}

.item:hover{
	background-color: #66666640;
}

.item.checked:hover{
	background-color: #80DD80;
}
.checked{
	background-color: lightgreen;
}

.check{
	float: right;
}

input[type="number"]{
	width: 4em;
}

.spellname{
	font-weight: bold;
	color: darkyellow;
}

.npc{
	font-weight: bold;
	color: darkgreen;
}

.nirnroot{
	font-weight: bold;
	color:seagreen;
}

