body{
	background-color: #FFF2CC;
	column-width: 25em;
}

.progress{
	font-size: 3em;
	font-weight: bold;
	position: fixed;
	background-color: #FFF2CC;
}

.h2{
	font-size: 2.5em;
}

.category{
	max-width: 25em;
}

.categoryTitle{
	font-size: 1.5em;
	border-bottom: 2px solid gray;
}

.checked{
	background-color: lightgreen;
}



