html{
	font-family: serif;
}

body{
	background-color: #E5D9B9;
}

br{
	margin-bottom: 0.3em;
}

ol li ol{
	list-style-type: lower-alpha;
}

li{
	margin-bottom:0.3em;
	margin-top:0.3em;
}

table{
	border-collapse:collapse;
}

tr{
	margin:0.5em;
	border-bottom: 1px solid grey;
}

td{
	padding:0.2em;
}

:target {
	border: .4em solid red;
}

.topbar{
	position: fixed;
	background-color: #E5D9B9;
	padding:0.5em;
}

.contentContainer{
	display: flex;
	flex-direction: row-reverse;
}

.resizableContainer{
	resize: both;
	overflow:hidden;
	
}

/*you can't resize iframes, so we use this to give it a nice resizable handle*/
#iframeContainer{
	border: 1px solid black;
	height: 500px;
	width: 500px;
	position: sticky;
	top: 1em;
}

.iframe{
	background-color: #FBEFD5;
	border: 1px solid gray;
	width: calc( 100% - 2px);
	height: 100%
}

.sidebar{
	
}
.main{
	flex-shrink: 1
}

.progress{
	font-size: 3em;
	font-weight: bold;
}

.h2{
	font-size: 2.2em;
	font-weight: bold;
}

.section{
	margin: 1em;
	background-color: #FBEFD5;
	column-width: 18em;
	padding: 0.5em;
}

.category{
	break-inside: avoid;
	break-after: always;
}

.categoryTitle{
	font-size: 1.5em;
	border-bottom: 2px solid gray;
}

.subcategoryTitle{
	font-style: italic;
	color: grey;
	padding-top: 0.2em;
}

.item{
	padding:0.1em;
	margin:0.2em;
}

.item:hover{
	background-color: #66666640;
}

.item.checked:hover{
	background-color: #80DD80;
}
.checked{
	background-color: lightgreen;
}

.check{
	float: right;
}

input[type="number"]{
	width: 4em;
}

