<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/fb0cf3a9-26bc-4ffd-aa34-70b3c1b82028/resourceGroups/Oblivion/providers/Microsoft.Web/sites/ratskip</ResourceId>
    <ResourceGroup>Oblivion</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://ratskip.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ad1102f1-1f14-474d-b5a8-24efbbc4a80a</ProjectGuid>
    <PublishUrl>https://ratskip.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ratskip</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>